{% load static %}

<!-- Trending Start Area -->
<div class="trending-area fix">
    <div class="container">
        <div class="trending-main">
            <!-- Trending Tittle -->
            {% include 'aznews/home/trending/trending_title.html' %}
            <div class="row">
                {% include 'aznews/home/trending/trending_left.html' %}
                <!-- Riht content -->
                {% include 'aznews/home/trending/trending_right.html' %}
            </div>
        </div>
    </div>
</div>